POSTGRES_DB=postgraduate_studies_db
POSTGRES_USER=postgraduate_app
POSTGRES_PASSWORD=change-this-password
DJANGO_SECRET_KEY=change-this-secret
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
PGMS_DEMO_PASSWORD=choose-a-strong-local-password
